body {
    font-family: Arial, sans-serif;
    background-color: #f5d7dc;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.title {
    font-size: 24px;
    color: #ff6f61;
    margin-bottom: 20px;
}

.stopwatch {
    background-color: #ffeddf;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#display {
    font-size: 36px;
    color: #ff6f61;
}

.button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pink {
    background-color: #ff6f61;
    color: #fff;
    margin: 0 10px;
}

button:hover {
    background-color: #ff495c;
}

button:active {
    background-color: #ff303c;
}
body {
    background-image: url('hori.jpg');
    background-size: 100% 350%;
    background-repeat: no-repeat;
}
